<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <nav class="site-footer__site-nav">
          <ul class="text-center">
            {% include regular-links.html blockClass="site-footer" %}
            {% include contact-link.html class="nav-link" blockClass="site-footer" %}
            {% include jobs-link.html blockClass="site-footer" %}
          </ul>
        </nav>
        <nav class="text-center">
          <ul class="site-footer__social-links">
            <li><a class="site-footer__social-link" href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="site-footer__social-link--twitter" href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </nav>
        <p class="site-footer__copyright-text">Copyright {{ site.time | date: '%Y' }} ShakaCode</p>
      </div>
    </div>
  </div>
</footer>
