<div class="col-md-2">
  <a class="pull-left" href="{{ site.url | prepend: site.baseurl }}" ><img class="shaka-logo" src="{{ site.url | prepend: site.baseurl }}/assets/logo.png" alt="Shaka Code Logo"></a>
</div>

<div class="col-md-8">
  <ul class="site-header__links text-center">
    <li><a class="nav-link" href="{{ site.url | prepend: site.baseurl }}/blog">Blog</a></li>
    <li><a class="nav-link" href="{{ site.forum_url }}" target="_blank">Forum</a></li>
    <li><a class="nav-link" href="{{ site.url | prepend: site.baseurl }}/products/">Products</a></li>
    <li><a class="nav-link" href="{{ site.url | prepend: site.baseurl }}/services/">Services</a></li>
    <li><a class="nav-link" href="{{ site.url | prepend: site.baseurl }}/about/">About</a></li>
  </ul>
</div>

<div class="col-md-2">
  <!-- <a class="nav-link--highlight pull-right" href="{{ site.url | prepend: site.baseurl }}/contact/">Contact</a> -->
  <ul class="site-header__links pull-right">
    <li><a class="nav-link--highlight" href="{{ site.url | prepend: site.baseurl }}/contact/">Contact</a></li>
  </ul>
</div>
