<li><a data-link-name="blog" class="{{ include.blockClass }}__nav-link" href="{{ site.url | prepend: site.baseurl }}/blog/">Blog</a></li>
<li><a data-link-name="forum" class="{{ include.blockClass }}__nav-link" href="{{ site.forum_url }}">Forum</a></li>
<li><a data-link-name="opensource" class="{{ include.blockClass }}__nav-link" href="{{ site.url | prepend: site.baseurl }}/opensource/">Open Source</a></li>
<li><a data-link-name="work" class="{{ include.blockClass }}__nav-link" href="{{ site.url | prepend: site.baseurl }}/work/">Work</a></li>
<li><a data-link-name="about" class="{{ include.blockClass }}__nav-link" href="{{ site.url | prepend: site.baseurl }}/about/">About</a></li>
