// Site Main

// ---------------------------

// #-Colors
// #-Fonts
// #-Miscellaneous
// #-Rebase
// #-Site Header
// #-Site Footer
// #-Home
// #-Blog Home
// #-Blog Pagination
// #-Partial Get in Touch
// #-Post Page
// #-Page Page
// #-About
// #-Contact
// #-Work: Products, Clients and Consulting
// #-Open Source
// #-Talks
// #-Newsletter Signup Page
// #-JS Helpers

// ----------------------------

// #-Colors

$color-333: #333;
$color-aaa: #aaa;
$color-vivid-red: #c92626;
$color-fcfcfc: #fcfcfc;
$color-swhite: #f2f2f2;
$color-fff: #fff;
$color-000: #000;
$color-light-logo: #fc5d51;
$color-react-sec: #3d3d3d;
$color-react-title: #d9d9d9;
$color-talks-heading: #e96c5e;

$color-envelope: $color-vivid-red !default;
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-github: $color-333 !default;
$color-linkedin: #007bb5;
$color-personal: $color-333 !default;

// #-Fonts

$font-open-sans: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif;
$font-source-sans-pro: 'Source Sans Pro', 'Helvetica Neue', helvetica,
  sans-serif;

// #-Miscellaneous

@mixin bt_get-in-touch {
  display: block;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-vivid-red;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: $font-source-sans-pro;
  font-size: 18px;
  font-weight: 500;
  padding: 22px;
  transition: all .3s ease;

  &:hover,
  &:active {
    background-color: darken($color-vivid-red, 5%);
  }
}

@mixin bt_get-in-touch--white {
  display: block;
  width: 290px;
  border: 2px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: $color-fcfcfc;
  font-family: $font-source-sans-pro;
  font-size: 18px;
  font-weight: 500;
  padding: 22px;
  transition: all .2s ease;

  &:hover,
  &:active {
    border-color: #fff;
    background-color: #fff;
    color: #333;
  }
}

@mixin link {
  color: $color-vivid-red;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

// very important class: you need to use it as the <a> class when this anchor is part of an URL, ex. shakacode.com/work/index.html#something
// Otherwise, the fixed header will stay on top of it.
// how to use it: put the following <a> just above the section you want to link properly:
// HTML: <a class="offset-y-anchor" name="something"></a>
// LINK: shakacode.com/path/page.html#something
.offset-y-anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;

  @media (max-width: $screen-sm-max) {
    top: -80px;
  }
}

// tbd = to be done
.tbd {
  background-color: #f1ada1;
  color: $color-333;
}

// #-Rebase

p {
  font-family: $font-source-sans-pro;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-source-sans-pro;
}

// #-Site Header

body {
  background-color: $color-fcfcfc;
  overflow-x: hidden;
  padding-top: 85px; // compensate fixed navbar

  @media (max-width: $screen-sm-max) {
    padding-top: 55px; // compensate fixed navbar
  }
}

.site-header {
  background-color: $color-333;
  left: 0;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 7px;
    padding-top: 10px;
  }

  @at-root #{&}__shaka-logo {
    float: left;

    @media (max-width: $screen-sm-max) {
      float: initial;

      img {
        width: 40px;
      }
    }
  }

  @at-root #{&}__shaka-name {
    color: $color-fcfcfc;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-left: 18px;
    margin-top: 9px;
    transition: color .3s ease;

    &:hover {
      // color: darken($color-fcfcfc, 20%);
      color: $color-light-logo;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 20px;
    }
  }

  @at-root #{&}__mobile-nav-trigger {
    background-color: lighten($color-333, 5%);
    border: 1px solid lighten($color-333, 10%);
    display: none;
    float: right;
    height: 35px;
    transition: all .3s ease;
    width: 40px;

    &:hover,
    &:active {
      background-color: $color-333;
    }

    i {
      color: $color-fcfcfc;
      font-size: 22px;
    }

    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }

  @at-root #{&}__site-nav {
    li {
      display: inline-block;
      margin-right: 36px;

      &:last-child {
        margin-right: 0; // the last child doesn't need margin-right, it brakes centralization
      }

      @media (max-width: $screen-sm-max) {
        display: block;
        line-height: 35px;
        margin-right: 0;
      }
    }
  }

  @at-root #{&}__links {
    margin-top: 13px; // alignment

    @media (max-width: $screen-sm-max) {
      display: none; // hide by default on mobile
    }
  }

  @at-root #{&}__links--highlight {
    float: right;
    margin-top: 13px;

    @media (max-width: $screen-sm-max) {
      display: none; // hide by default on mobile
      float: none;
      margin-top: 0;
      text-align: center;
    }
  }

  @at-root #{&}__nav-link {
    color: $color-fcfcfc;
    font-family: $font-source-sans-pro;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    transition: border-bottom .1s;

    &:visited,
    &:link {
      color: $color-fcfcfc;
    }

    &:hover {
      border-bottom: 4px solid $color-light-logo;
    }

    @at-root #{&}--highlight {
      color: $color-light-logo;
      font-family: $font-source-sans-pro;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      transition: border-bottom .3s;

      &:visited,
      &:active,
      &:link {
        // for some reason this solves the issue (https://github.com/shakacode/shakacode-website/issues/12) after clicking in a mailto anchor
        color: $color-light-logo;
      }

      &:hover {
        border-bottom: 4px solid $color-light-logo;
        color: $color-light-logo;
      }
    }
  }
}

// #-Site Footer
.site-footer {
  background-color: $color-333;
  padding: 30px;

  @at-root #{&}__site-nav {
    margin-bottom: 30px;

    ul {
      li {
        display: inline-block;
        margin-right: 20px;

        @media (max-width: $screen-sm-max) {
          display: block;
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @at-root #{&}__copyright-text {
    color: darken($color-fff, 15%);
    font-family: $font-source-sans-pro;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 30px;
  }

  @at-root #{&}__nav-link {
    color: darken($color-fff, 20%);
    font-family: $font-source-sans-pro;
    font-size: 16px;
    font-weight: 300;
    transition: border-bottom .1s;

    &:visited,
    &:link {
      // for some reason this solves the issue (https://github.com/shakacode/shakacode-website/issues/12) after clicking in a mailto anchor
      color: darken($color-fff, 20%);
    }

    &:hover {
      border-bottom: 3px solid $color-fff;
      color: darken($color-fff, 20%);
    }

    @media (max-width: $screen-sm-max) {
      color: $color-fcfcfc;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      text-transform: uppercase;
    }
  }

  @at-root #{&}__social-links {
    li {
      display: inline-block;
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @at-root #{&}__social-link {
    background-color: darken($color-fff, 20%);
    border-radius: 30px;
    color: $color-333;
    font-size: 16px;
    padding: 4px 8px;
    transition: background-color .3s;

    @at-root #{&}--twitter {
      background-color: darken($color-fff, 20%);
      border-radius: 30px;
      color: $color-333;
      font-size: 16px;
      padding: 4px 6px;
      transition: background-color .3s;

      &:visited {
        color: $color-333;
      }

      &:hover {
        background-color: $color-fff;
      }
    }

    &:visited {
      color: $color-333;
    }

    &:hover {
      background-color: $color-fff;
    }
  }
}

// #-Home

.home-we-build {
  background-color: $color-fcfcfc;
  padding-bottom: 90px;
  padding-top: 70px;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 50px;
    padding-top: 40px;
  }

  @at-root #{&}__title {
    color: $color-vivid-red;
    font-size: 45px;
    font-weight: 600;

    @media (max-width: $screen-sm-max) {
      font-size: 30px;
    }
  }

  @at-root #{&}__title-link {
    border-bottom: 5px solid $color-vivid-red;
    color: $color-vivid-red;
    transition: all .3s;

    &:visited {
      border-bottom: 5px solid $color-vivid-red;
      color: $color-vivid-red;
    }

    &:hover {
      border-bottom: 5px solid $color-333;
      color: $color-333;
    }
  }

  @at-root #{&}__subtitle {
    color: $color-333;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;

    @media (max-width: $screen-sm-max) {
      font-size: 21px;
    }
  }

  @at-root #{&}__statement {
    color: $color-000;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;

    a {
      border-bottom: 5px solid $color-vivid-red;
      color: $color-333;
      transition: border-bottom .6s ease;

      &:hover {
        border-bottom: 5px solid $color-333;
      }
    }

    @media (max-width: $screen-sm-max) {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 20px;

      a {
        border-bottom-width: 3px;
      }
    }
  }

  @at-root #{&}__shaka-sign {
    opacity: .8;
  }

  @at-root #{&}__separator {
    margin-bottom: 20px;
    margin-top: 25px;
  }

  @at-root #{&}__separator::after {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: 5px;
    position: relative;
    top: -5px;
    width: 15%;
  }

  @at-root #{&}__separator::before {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: -5px;
    position: relative;
    top: -5px;
    width: 15%;
  }
}

.home-we-are {
  background-color: $color-vivid-red;
  color: $color-fcfcfc;
  padding-top: 100px;
  padding-bottom: 100px;

  @media (min-width: $screen-md-min) {
    // show image only on tablets and up
    background: $color-vivid-red url($site-url + '/assets/we-are-bg.jpg') 100%
      90% no-repeat;
  }

  @media (max-width: $screen-sm-max) {
    padding-bottom: 50px;
  }

  a {
    color: $color-fff;
  }

  @at-root #{&}__title {
    color: $color-fcfcfc;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 60px;
    margin-top: 0;

    @media (max-width: $screen-sm-max) {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }

  @at-root #{&}__title-link {
    border-bottom: 0 solid $color-fff;
    transition: border-bottom .2s;

    &:hover {
      border-bottom: 4px solid $color-fff;
    }
  }

  @at-root #{&}__statement {
    color: $color-fcfcfc;
    font-size: 27px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 70px;

    @media (max-width: $screen-sm-max) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 40px;
    }
  }

  @at-root #{&}__meet-team {
    border-bottom: 3px solid rgba(255, 255, 255, .2);
    color: $color-fcfcfc;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    transition: border-bottom .2s ease;

    &:hover {
      border-bottom: 3px solid $color-fff;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.home-our-services {
  background-color: $color-react-sec;
  padding-top: 100px;
  padding-bottom: 100px;
  color: $color-react-title;
}

.home-our-services__statement {
  color: $color-fcfcfc;
  font-size: 27px;
  font-weight: 300;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 40px;

  @media (max-width: $screen-sm-max) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}

.home-react-rails {
  background-color: $color-react-sec;
  padding-bottom: 30px;
  padding-top: 100px;
}

.home-react-rails__title {
  color: $color-swhite;
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 60px;
  margin-top: 0;

  @media (max-width: $screen-sm-max) {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.home-react-rails__subtitle {
  color: $color-react-title;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 60px;
  text-align: center;

  a {
    border-bottom: 1px solid $color-fff;
    color: $color-fff;
    transition: border-bottom .2s;

    &:link,
    &:visited {
      color: $color-fff;
    }

    &:hover {
      border-bottom: 2px solid $color-fff;
      color: $color-fff;
    }
  }
}

.home-react-rails__subtitle-b {
  color: $color-react-title;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

.home-react-rails__divider {
  border: 0;
  border-top: 1px solid hsla(0, 0%, 40%, 1);
  margin: auto;
  margin-bottom: 60px;
  margin-top: 20px;
  text-align: center;
  width: 300px;
}

.home-react-rails__testimonial-egghead-logo {
  height: 30px;
  margin-right: 5px;
}

.home-react-rails__testimonial-group {
  background-color: #454545;
  border-radius: 5px;
  margin-bottom: 45px;
  padding: 20px;
  position: relative;

  &::after {
    border-left: 12px solid transparent;
    border-right: 15px solid transparent;
    border-top: 16px solid #454545;
    bottom: -15px;
    content: '';
    position: absolute;
    right: 26px;
  }
}

.home-react-rails__testimonial_text {
  color: $color-react-title;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
}

.home-react-rails__smart-quote--opening {
  color: $color-react-title;
  font-size: 30px;
  left: -3px;
  line-height: 0;
  position: relative;
  top: 5px;
}

.home-react-rails__smart-quote--closing {
  color: $color-react-title;
  font-size: 30px;
  left: 3px;
  line-height: 0;
  position: relative;
  top: 5px;
}

.home-react-rails__text-source {
  color: $color-react-title;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}

.home-react-rails__client-photo {
  float: right;
  height: 80px;
  width: auto;
}

.home-react-rails__client {
  display: inline-block;
  float: right;
  margin-right: 19px;
  padding: 12px 0 0;
}

.home-react-rails__client-name {
  color: $color-fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: right;

  a {
    border-bottom: 1px solid $color-fff;
    color: $color-vivid-red;
    transition: border-bottom .2s;

    &:link,
    &:visited {
      color: $color-fff;
    }

    &:hover {
      border-bottom: 2px solid $color-fff;
    }
  }
}

.home-react-rails__client-role {
  color: $color-fff;
  font-size: 20px;
  text-align: right;

  a {
    border-bottom: 1px solid $color-fff;
    color: $color-fff;
    transition: border-bottom .2s;

    &:link,
    &:visited {
      color: $color-fff;
    }

    &:hover {
      border-bottom: 2px solid $color-fff;
    }
  }
}

// #-Blog Home

.blog-page {
  background-color: $color-fff;
  min-height: 800px;
  padding-top: 90px;

  @media (max-width: $screen-sm-max) {
    padding-top: 40px;
  }
}

.blog-archived {
  font-size: 18px;
  margin-bottom: 32px;

  a {
    border-bottom: 2px solid $color-vivid-red;
    color: $color-vivid-red;
  }
}

.blog-post {
  @at-root #{&}__link {
    border-bottom: 3px solid $color-fcfcfc;
    color: $color-vivid-red;
    display: inline-block;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
    transition: border-bottom .3s ease;

    &:hover {
      border-bottom: 3px solid $color-vivid-red;
      color: $color-vivid-red;
    }

    &:visited {
      color: $color-vivid-red;
    }

    &.blog-post__continue-reading {
      font-size: 30px;
      font-weight: bold;
    }
  }

  @at-root #{&}__meta {
    margin-bottom: 20px;
    text-align: center;
  }

  @at-root #{&}__meta-author {
    color: $color-333;
    font-family: $font-source-sans-pro;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }

  @at-root #{&}__meta-date {
    color: $color-333;
    font-family: $font-source-sans-pro;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }

  @at-root #{&}__content {
    color: lighten($color-333, 10%);
    font-family: $font-open-sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 80px;

    ol {
      margin-bottom: 30px;
    }

    ul {
      list-style: square;
      margin-bottom: 30px;
      margin-left: 1.3em;
    }

    li {
      margin-bottom: 22px;
    }
  }

  @at-root #{&}__separator {
    margin-bottom: 80px;
  }

  @at-root #{&}__separator::after {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: 5px;
    position: relative;
    top: -5px;
    width: 46%;

    @media (max-width: $screen-sm-max) {
      width: 40%;
    }
  }

  @at-root #{&}__separator::before {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: -5px;
    position: relative;
    top: -5px;
    width: 46%;

    @media (max-width: $screen-md-max) {
      width: 40%;
    }
  }
}

// #-Blog Pagination

.pagination {
  display: block;
  margin-bottom: 100px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.pagination__previous {
  color: blue;
  float: left;
  font-family: $font-source-sans-pro;
  font-size: 20px;
  font-weight: 400;
  transition: color .2s ease;

  &:visited {
    color: $color-333;
  }

  &:hover {
    color: $color-vivid-red;

    i {
      transform: translateX(-3px);
    }
  }

  i {
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    transition: transform .3s ease;
  }
}

.pagination__next {
  color: $color-333;
  float: right;
  font-family: $font-source-sans-pro;
  font-size: 20px;
  font-weight: 400;

  &:visited {
    color: $color-333;
  }

  &:hover {
    color: $color-vivid-red;

    i {
      transform: translateX(3px);
    }
  }

  i {
    font-size: 30px;
    margin-left: 10px;
    position: relative;
    top: 4px;
    transition: transform .3s ease;
  }
}

// #-Partial mailerlite
.mailerlite-webform {
  background-color: $color-333;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  position: relative;
  width: 100%;
  z-index: 10;

  h4 {
    color: $color-fff;
    float: right;
    font-size: 28px;
    line-height: 58px;

    @media (max-width: $screen-sm-max) {
      float: none;
      font-size: 30px;
      font-weight: 300;
      line-height: 30px;
      text-align: center;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 22px;
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-top: 20px;
  }
}


// #-Partial Get in Touch
.contact-style-dark {
  background-color: #e4e4e4;
}

.contact-style-light {
  background-color: #fff;
}

.get-in-contact {
  border-top: 1px solid lighten($color-333, 70%);
  padding: 50px 0;
  text-align: center;

  @at-root #{&}__title {
    color: $color-333;
    display: inline-block;
    font-family: $font-source-sans-pro;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0 15px 0 0;
    text-transform: uppercase;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
      letter-spacing: initial;
      margin-bottom: 7px;
    }
  }

  @at-root #{&}__email {
    border-bottom: 4px solid $color-fff;
    color: $color-vivid-red;
    display: inline-block;
    font-family: $font-source-sans-pro;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: border-bottom .2s ease;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
      letter-spacing: initial;
    }

    &:visited,
    &:link {
      color: $color-vivid-red;
    }

    &:hover {
      border-bottom: 4px solid $color-vivid-red;
      color: $color-vivid-red;
    }
  }
}

// #-Post Page

.post-page {
  background-color: $color-fcfcfc;
  min-height: 700px; // prevent blank content above the fold
  padding-top: 90px;

  @media (max-width: $screen-sm-max) {
    padding-top: 40px;
  }
}

.blog-post {
  @at-root #{&}__share--header {
    height: 25px; // fixed height to avoid "html building" when fb share is loading
    margin-bottom: 17px;
  }

  @at-root #{&}__title {
    color: $color-vivid-red;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
    transition: border-bottom .3s ease;
  }

  // very important rules
  // post formatting
  @at-root #{&}__content {
    color: lighten($color-333, 10%);
    font-family: $font-open-sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 80px;

    img {
      margin-bottom: 25px;
      margin-top: 25px;
    }

    p {
      margin-bottom: 25px;
    }

    a {
      border-bottom: 2px solid $color-light-logo;
      color: $color-333;
      transition: border-bottom-width .3s;

      &:visited {
        color: $color-333;
      }
    }

    blockquote {
      border-left-color: lighten($color-333, 50%);
      color: $color-333;
      font-style: normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}

// #-Page Page

.page-page {
  background-color: $color-fcfcfc;
  min-height: 700px; // prevent blank content above the fold
  padding-top: 90px;

  @media (max-width: $screen-sm-max) {
    padding-top: 40px;
  }
}

.page {
  @at-root #{&}__share--header {
    height: 25px; // fixed height to avoid "html building" when fb share is loading
    margin-bottom: 17px;
  }

  @at-root #{&}__title {
    color: $color-vivid-red;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
    transition: border-bottom .3s ease;
  }

  // very important rules
  // post formatting
  @at-root #{&}__content {
    color: lighten($color-333, 10%);
    font-family: $font-open-sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 80px;

    img {
      margin-bottom: 25px;
      margin-top: 25px;
    }

    p {
      margin-bottom: 25px;
    }

    a {
      border-bottom: 2px solid $color-light-logo;
      color: $color-333;
      transition: border-bottom-width .3s;

      &:visited {
        color: $color-333;
      }
    }

    blockquote {
      border-left-color: lighten($color-333, 50%);
      color: $color-333;
      font-style: normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}

// #-About
.about-page {
  background-color: $color-fcfcfc;
  min-height: 650px; // prevent blank content above the fold
  padding-bottom: 120px;
  padding-top: 90px;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.about {
  @at-root #{&}__title {
    color: $color-vivid-red;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  @at-root #{&}__separator {
    margin-bottom: 80px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }

  @at-root #{&}__separator::after {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: 5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__separator::before {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: -5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__header {
    margin-bottom: 50px;
  }

  @at-root #{&}__short-description {
    font-size: 18px;
    margin-bottom: 60px;

    p {
      font-weight: 300;
      line-height: 32px;
      margin-bottom: 18px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    a {
      border-bottom: 2px solid $color-light-logo;
      color: $color-333;
      transition: border-bottom-width .3s;

      &:visited {
        color: $color-333;
      }
    }
  }

  @at-root #{&}__work-with-us {
    ul {
      font-family: $font-source-sans-pro;
      list-style: square;
      margin-bottom: 10px;
      margin-left: 20px;

      li {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 18px;
      line-height: 32px;
    }

    a {
      color: $color-vivid-red;

      &:visited {
        color: $color-vivid-red;
      }
    }
  }

  @at-root #{&}__hiring {
    font-weight: bold;
  }

  @at-root #{&}__work-contact {
    background-color: $color-vivid-red;
    border-radius: 3px;
    color: $color-fff !important; // important rule because there's a "a" rule above it to general links
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    padding: 7px 20px;
    transition: color .3s;

    @media (max-width: $screen-sm-max) {
      display: block;
      margin: 30px auto 0;
      text-align: center;
      width: 40%;
    }

    &:visited {
      color: $color-fff;
    }

    &:hover {
      color: $color-333;
    }
  }
}

// not used yet
.shaka-member-row {
  margin-bottom: 30px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: initial;
  }
}

.shaka-members-group {
  display: flex;
  flex-flow: row wrap;
}

.shaka-member {
  margin-bottom: 20px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 50px;
  }

  @at-root #{&}__founder {
    backface-visibility: hidden;
    border-radius: 100%;
    height: auto;
    margin-left: 50px;
    width: 130px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 10px;
      margin-left: initial;

      &:hover {
        transform: scale(1);
      }
    }
  }

  @at-root #{&}__photo {
    backface-visibility: hidden;
    transform: scale(1);
    transition: transform .3s;

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: $screen-sm-max) {
      &:hover {
        transform: scale(1);
      }
    }
  }

  @at-root #{&}__name {
    color: $color-333;
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  @at-root #{&}__temp-padding-fix {
    padding-right: 20px;

    @media (max-width: $screen-sm-max) {
      padding-right: initial;
    }
  }

  @at-root #{&}__bio {
    color: $color-333;
    font-family: $font-source-sans-pro;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;

    a {
      color: $color-vivid-red;

      &:visited {
        color: $color-vivid-red;
      }
    }
  }

  @at-root #{&}__social-links {
    margin-top: 10px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    li {
      display: inline;
    }

    a {
      color: $color-333;
      margin-right: 7px;

      @media (max-width: $screen-sm-max) {
        font-size: 25px;
      }
    }
  }

  @at-root #{&}__email {
    font-size: 20px;
    transition: color .5s ease;

    &:hover {
      color: $color-vivid-red;
    }
  }

  @at-root #{&}__facebook {
    font-size: 19px;
    transition: color .5s ease;

    &:hover {
      color: $color-facebook;
    }
  }

  @at-root #{&}__twitter {
    font-size: 20px;
    transition: color .5s ease;

    &:hover {
      color: $color-twitter;
    }
  }

  @at-root #{&}__github {
    font-size: 20px;
    transition: color .5s ease;

    &:hover {
      color: $color-github;
    }
  }

  @at-root #{&}__linkedin {
    font-size: 20px;
    transition: color .5s ease;

    &:hover {
      color: $color-linkedin;
    }
  }

  @at-root #{&}__wikipedia {
    font-size: 17px;
    transition: color .5s ease;

    &:hover {
      color: $color-personal;
    }
  }

  @at-root #{&}__personal {
    font-size: 20px;
    transition: color .5s ease;

    &:hover {
      color: $color-personal;
    }
  }
}

// #-Contact
// not used yet but Don't delete it! It will return soon when we have more info to put in contact page.
.contact-page {
  background-color: $color-fcfcfc;
  min-height: 650px; // prevent blank content above the fold
  padding-bottom: 150px;
  padding-top: 120px;

  @media (max-width: $screen-sm-max) {
    min-height: 600px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.contact {
  @at-root #{&}__title {
    color: $color-vivid-red;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }

  @at-root #{&}__separator {
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }

  @at-root #{&}__separator::after {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: 5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__separator::before {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: -5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__email {
    border-bottom: 4px solid $color-fff;
    color: lighten($color-vivid-red, 15%);
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 50px;
    transition: border-bottom .2s ease;

    &:visited {
      color: lighten($color-vivid-red, 15%);
    }

    &:hover {
      border-bottom: 4px solid $color-vivid-red;
      color: $color-vivid-red;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 22px;
    }
  }
}

// #-Work: Products, Clients and Consulting
.work-page {
  background-color: $color-fcfcfc;

  li {
    font-size: 20px;
  }
}

.work {
  @at-root #{&}__title {
    color: $color-vivid-red;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  @at-root #{&}__separator {
    margin-bottom: 40px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }

  @at-root #{&}__separator-both {
    margin-bottom: 40px;
    margin-top: 40px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }

  @at-root #{&}__separator::after {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: 5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__separator::before {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: -5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__separator-both::after {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: 5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__separator-both::before {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: -5px;
    position: relative;
    top: -5px;
    width: 12%;
  }
}

.work-consulting {
  border-bottom: 1px solid lighten($color-333, 70%);
  padding-bottom: 40px;

  @at-root #{&}__featured {
    background-color: $color-fff;
    border-bottom: 1px solid $color-fcfcfc;
    padding-bottom: 50px;
    padding-top: 60px;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }

  @at-root #{&}__question {
    border-bottom: 5px solid $color-vivid-red;
    color: $color-333;
    display: inline-block;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 13px;

    &:visited {
      color: $color-333;
    }

    &:hover {
      color: $color-vivid-red;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 22px;
    }
  }

  @at-root #{&}__details {
    border-bottom: 1px solid $color-vivid-red;
    color: $color-vivid-red;
    font-size: 20px;
    transition: border-bottom .2s;

    &:visited {
      color: $color-vivid-red;
    }

    &:hover {
      border-bottom: 3px solid $color-vivid-red;
    }
  }

  @at-root #{&}__details-plan {
    border-bottom: 1px solid $color-vivid-red;
    color: $color-vivid-red;
    font-size: 26px;
    transition: border-bottom .2s;

    &:visited {
      color: $color-vivid-red;
    }

    &:hover {
      border-bottom: 3px solid $color-vivid-red;
    }
  }

  @at-root #{&}__text {
    font-size: 26px;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }

    a {
      color: $color-vivid-red;
      transition: border-bottom .2s;

      &:visited {
        color: $color-vivid-red;
      }

      &:hover {
        border-bottom: 3px solid $color-vivid-red;
      }
    }
  }

  @at-root #{&}__contact {
    background-color: $color-vivid-red;
    border-radius: 3px;
    color: $color-fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    padding: 7px 20px;
    transition: color .3s;

    &:link,
    &:visited {
      color: $color-fff;
    }

    &:hover {
      color: darken($color-fff, 10%);
    }
  }
}

.work-testimonials-unit {
  margin-bottom: 80px;
}

.work-testimonials {
  border-bottom: 1px solid lighten($color-333, 70%);
  padding-bottom: 40px;
  padding-top: 30px;

  a {
    border-bottom: 1px solid $color-vivid-red;
    color: $color-vivid-red;
    transition: border-bottom .2s;

    &:link,
    &:visited {
      color: $color-vivid-red;
    }

    &:hover {
      border-bottom: 2px solid $color-vivid-red;
    }
  }

  @at-root #{&}__text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }

  @at-root #{&}__text-source {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
  }

  @at-root #{&}__client {
    display: inline-block;
    float: right;
    margin-right: 19px;
    padding-top: 23px;
  }

  @at-root #{&}__client-photo {
    float: right;
  }

  @at-root #{&}__client-name {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }

  @at-root #{&}__client-role {
    font-size: 20px;
    text-align: right;
  }

  @at-root #{&}__smart-quote--opening {
    color: $color-vivid-red;
    font-size: 50px;
    left: -3px;
    line-height: 0;
    position: relative;
    top: 12px;
  }

  @at-root #{&}__smart-quote--closing {
    color: $color-vivid-red;
    font-size: 50px;
    left: 3px;
    line-height: 0;
    position: relative;
    top: 12px;
  }
}

.work-clients {
  background-color: $color-fff;
  padding-bottom: 60px;
  padding-top: 30px;

  @at-root #{&}__unit {
    margin-bottom: 60px;
  }

  @at-root #{&}__description {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }

  @at-root #{&}__link {
    color: $color-vivid-red;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    transition: border-bottom .2s;

    &:link,
    &:visited {
      color: $color-vivid-red;
    }

    &:hover {
      border-bottom: 3px solid $color-vivid-red;
    }
  }

  @at-root #{&}__img {
    display: inline-block;
    transition: all .6s;

    &:hover {
      filter: brightness(1.05);
    }
  }

  @at-root #{&}__img-blink {
    box-shadow: 0 0 1px 0 $color-aaa;
    display: inline-block;
    transition: all .6s;

    &:hover {
      box-shadow: 0 0 3px 0 darken($color-aaa, 10%);
      filter: brightness(1.05);
    }
  }
}

.work-products {
  border-top: 1px solid lighten($color-333, 70%);
  padding-bottom: 60px;
  padding-top: 30px;

  @at-root #{&}__name {
    color: $color-vivid-red;
    font-size: 26px;
    transition: border-bottom .3s;

    &:link,
    &:visited {
      color: $color-vivid-red;
    }

    &:hover {
      border-bottom: 3px solid $color-vivid-red;
    }
  }

  @at-root #{&}__screenshot {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  @at-root #{&}__fng-logo {
    background-color: $color-333;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 27px;
    padding: 20px;
    transition: all .3s;
    width: 140px;

    &:hover {
      filter: brightness(1.15);
    }

    @media (max-width: $screen-sm-max) {
      border-radius: 0;
    }
  }

  @at-root #{&}__text {
    font-size: 20px;
    text-align: center;
  }
}

// #-Open Source

.opensource-page {
  background-color: $color-fcfcfc;
  min-height: 650px; // prevent blank content above the fold
  padding-bottom: 150px;
  padding-top: 40px;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 40px;
  }
}

.opensource {
  @at-root #{&}__title {
    color: $color-vivid-red;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  @at-root #{&}__separator {
    margin-bottom: 40px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }

  @at-root #{&}__separator::after {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: 5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__separator::before {
    border-bottom: 1px solid lighten($color-333, 50%);
    content: '';
    display: inline-block;
    height: 1px;
    left: -5px;
    position: relative;
    top: -5px;
    width: 12%;
  }

  @at-root #{&}__project {
    margin-bottom: 30px;

    ul {
      font-family: $font-source-sans-pro;
      font-size: 20px;
      list-style: disc;
      margin-left: 20px;
    }
  }

  @at-root #{&}__project-title {
    border-bottom: 2px solid $color-light-logo;
    color: $color-333;
    font-size: 26px;
    transition: color .3s;

    @media (max-width: $screen-sm-max) {
      font-size: 20px;
    }

    &:visited {
      color: $color-333;
    }

    &:hover {
      color: $color-vivid-red;
    }
  }

  @at-root #{&}__project-text {
    font-size: 20px;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }

  @at-root #{&}__more-projects {
    color: $color-vivid-red;
    display: inline-block;
    font-family: $font-source-sans-pro;
    font-size: 24px;
    margin-top: 20px;
    transition: color .3s;

    @media (max-width: $screen-sm-max) {
      font-size: 20px;
    }

    &:visited {
      color: $color-vivid-red;
    }

    &:hover {
      color: $color-333;
    }
  }
}

// #-Talks

.talks-page {
  background-color: $color-react-sec;
  min-height: 650px; // prevent blank content above the fold
  padding-bottom: 150px;
  padding-top: 80px;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 40px;
  }
}

.talks-header {
  margin-bottom: 60px;
}

.talks {
  h2 {
    margin-bottom: 0;
  }

  @at-root #{&}__subtitle {
    color: $color-swhite;
    font-size: 30px;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      font-size: 20px;
    }
  }

  @at-root #{&}__title {
    color: $color-talks-heading;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;

    @media (max-width: $screen-md-max) {
      font-size: 50px;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 30px;
    }
  }

  @at-root #{&}__title--white {
    color: $color-swhite;
  }

  @at-root #{&}__origin {
    color: $color-swhite;
    font-size: 17px;
    font-weight: 400;
    margin-right: 40px;
    text-align: right;
  }

  @at-root #{&}__content {
    color: $color-swhite;
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }

  @at-root #{&}__form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

// #-Newsletter Signup Page
.newsletter-page {
  background: $color-fff url($site-url + '/assets/newsletter-bg.jpg') 0 0
    no-repeat;
  min-height: 650px; // prevent blank content above the fold
  padding-bottom: 150px;
  padding-top: 80px;

  @media (max-width: $screen-sm-max) {
    padding-bottom: 40px;
  }
}

.newsletter {
  @at-root #{&}__title {
    color: $color-fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 0;

    @media (max-width: $screen-md-max) {
      font-size: 50px;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 30px;
    }
  }

  @at-root #{&}__content {
    color: $color-swhite;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;

    a {
      color: $color-fff;
      text-decoration: underline;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }

  @at-root #{&}__form {
    p {
      text-align: center !important;
    }
  }
}

// #-JS Helpers
.js-highlight-link {
  border-bottom: 4px solid $color-light-logo;
}

// #-Service
.service-page {
  background-color: #fff;
  min-height: 650px; // prevent blank content above the fold

  @media (max-width: $screen-sm-max) {
    padding-bottom: 40px;
  }
}

.service-header {
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
}


.service__title {
  color: $color-vivid-red;
  font-size: 50px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 20px;

  @media (max-width: $screen-sm-max) {
    font-size: 26px;
    margin-bottom: 10px;
  }
}

.service__headline {
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  width: 60%;
  text-align: center;

  @media (max-width: $screen-sm-max) {
    font-size: 30px;
  }
}

.service__contact,
.service__contact:link,
.service__contact:visited {
  @include bt_get-in-touch;
}

.service__contact--white,
.service__contact--white:link,
.service__contact--white:visited {
  @include bt_get-in-touch--white;
}

.service-area-container {
  padding-top: 100px;
}

.service-area__title {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 35px;
  text-align: center;
}

.service-area__description {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 80px;
}

.service-technology-container {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
}

.service-technology {
  margin-bottom: 40px;
  text-align: center;
}

.service-technology__svg {
  width: 150px;
  height: 150px;
}

.service-technology__title {
  font-family: $font-source-sans-pro;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.service-technology__description {
  font-family: $font-open-sans;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

 .service-technology__all-link-container {
   margin-bottom: 100px;
 }

.service-technology__all-link {
  font-family: $font-open-sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}

.service-build {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $color-333;
}

.service-section__title {
  color: #fff;
  font-family: $font-open-sans;
  font-size: 35px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 60px;
}

 .service-build__point {
   color: #e6e6e6;
   font-family: $font-open-sans;
   font-size: 20px;
   line-height: 1.5;
   margin-bottom: 20px;
 }

.svg-checkmark {
  width: 24px;
  height: 22px;
  margin-right: 10px;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.service__contact-build,
.service__contact-build:link,
.service__contact-build:visited {
  @include bt_get-in-touch;
  margin-top: 60px;
}

.service-book-time {
  padding-top: 100px;
  padding-bottom: 50px;
}

.service-book-time__balloon {
  position: relative;
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 35px;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 45px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #e4e4e4;
  }
}

.service-book-time__message {
  font-family: $font-open-sans;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0;
}

.regular-link,
.regular-link:link,
.regular-link:visited {
  @include link;
}

.service-book-time__person {
  float: right;
  display: flex;
  flex: 1 0 auto;
}

.service-book-time__person-info {
  margin-right: 20px;
  text-align: right;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  justify-content: center;
}

.service-book-time__person-img {
  border-radius: 100%;
  width: 130px;
  height: 130px;
}

.service-book-time__name,
.service-book-time__job {
  font-size: 20px;
  font-family: $font-open-sans;
  line-height: 1.5;
}

.service-book-time__job {
  font-size: 18px;
}
