---
layout: default-dark
title: Services - ShakaCode
---
<div class="service-page">
  <section class="service-header">
    <header class="about__header text-center">
      <h2 class="service__title">Our Services</h2>
      <div class="about__separator text-center">
        <img width="45" height="36" src="{{ site.url | prepend: site.baseurl }}/assets/shaka-sign.svg" alt="Shaka Sign Separator">
      </div>
    </header>
    <h1 class="service__headline">We build powerful web and mobile applications using React, React-Native, and Ruby on Rails.</h1>
    <a class="service__contact" href="mailto:{{ site.contact_email }}" target="_blank">Get in Touch</a>
  </section>

  <div class="container">
    <section class="row service-area-container">
      <div class="col-md-4">
        <h2 class="service-area__title">We Design</h2>
        <p class="service-area__description">Our design team is able to conceptualize your ideas into wireframes, deliver accessible interfaces and work together with the development team to build successful projects.</p>
      </div>
      <div class="col-md-4">
        <h2 class="service-area__title">We Develop</h2>
        <p class="service-area__description">We are a global team of developers and designers ready to share our knowledge and apply the best techniques on every project using proven technologies.</p>
      </div>
      <div class="col-md-4">
        <h2 class="service-area__title">We Complement</h2>
        <p class="service-area__description">Complement your development team with support from the technical team behind <a class="regular-link" target="_blank" href="https://github.com/shakacode/react_on_rails">React on Rails</a> and <a class="regular-link" target="_blank" href="https://www.hawaiichee.com/">Hawaii Chee</a>.</p>
      </div>
    </section>
    <section class="row service-technology-container">
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/rails.svg %}
        <h3 class="service-technology__title">Ruby on Rails</h3>
        <p class="service-technology__description">By using Ruby on Rails we can rapidly deliver your products to market while maintaining a superb code quality.</p>
      </div>
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/react.svg %}
        <h3 class="service-technology__title">React</h3>
        <p class="service-technology__description">React's ecosystem is rich with tools that optimize the creation of comprehensive user interfaces. This allows us to build stable, interactive and beautiful web and mobile apps that your users deserve.</p>
      </div>
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/reactonrails.svg %}
        <h3 class="service-technology__title">React on Rails</h3>
        <p class="service-technology__description">We’re the team behind the popular gem <a class="regular-link" target="_blank" href="https://github.com/shakacode/react_on_rails">React on Rails</a> full of features like server side rendering, redux, react-router integration and a lot more.</p>
      </div>
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/reactnative.svg %}
        <h3 class="service-technology__title">React Native</h3>
        <p class="service-technology__description">React Native allows us to quickly ship mobile apps while maintaining an excellent user experience and avoiding repetitive codebases.</p>
      </div>
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/js.svg %}
        <h3 class="service-technology__title">Javascript</h3>
        <p class="service-technology__description">We have an incredible front-end team specialized in modern JavaScript development to guide you to the best solution for your project.</p>
      </div>
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/angularreact.svg %}
        <h3 class="service-technology__title">Angular to React</h3>
        <p class="service-technology__description">We have experience on how to do this process. We have large projects in our portfolio, including <a class="regular-link" target="_blank" href="https://egghead.io/">Egghead</a> and <a class="regular-link" target="_blank" href="https://www.geteverwise.com/">Everwise</a>.</p>
      </div>
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/partyintegration.svg %}
        <h3 class="service-technology__title">3rd Party Integration</h3>
        <p class="service-technology__description">We've paired our custom apps with powerful third-party tools to add functionality and speed to our applications and development process.</p>
      </div>
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/serverperformance.svg %}
        <h3 class="service-technology__title">Server Side Performance</h3>
        <p class="service-technology__description">Performance analysis, caching and optimization are common idioms for us.</p>
      </div>
      <div class="col-md-6 col-lg-4 service-technology">
        {% include svg/clientperformance.svg %}
        <h3 class="service-technology__title">Client Side Performance</h3>
        <p class="service-technology__description">We are fully able to identify and eliminate performance bottlenecks in web and mobile applications.</p>
      </div>
    </section>
    <section class="row service-technology__all-link-container">
      <div class="col-md-12">
        <h4 class="service-technology__all-link">See all our services. The <a href="{{ site.url | prepend: site.baseurl }}/work/shakacode-pro-support.pdf" class="regular-link">ShakaCode Pro Support!<a></h4>
      </div>
    </section>
  </div>

  <section class="service-build">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="service-section__title">Let's build together</h2>
          <p class="service-build__point">{% include svg/checkmark.svg %} We provide supplemental help to your team on our team’s specialties.</p>
          <p class="service-build__point">{% include svg/checkmark.svg %} We can provide a private slack channel (or we’ll join yours) for quick responses.</p>
          <p class="service-build__point">{% include svg/checkmark.svg %} Do you need pull request reviews? We got you.</p>
          <p class="service-build__point">{% include svg/checkmark.svg %} Pair programming as needed.</p>
          <p class="service-build__point">{% include svg/checkmark.svg %} Screen sharing and video calls are our friends.</p>
          <p class="service-build__point">{% include svg/checkmark.svg %} Maximum 24 hour response time for any developer (yak shaving) question.</p>
          <a class="service__contact-build" href="mailto:{{ site.contact_email }}" target="_blank">Get in Touch</a>
        </div>
      </div>
    </div>
  </section>
  <section class="service-book-time">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="service-book-time__balloon">
            <p class="service-book-time__message">We’d love to help and build your next big idea. <a class="regular-link" target="_blank" href="https://calendly.com/justingordon">Book a 30 minutes</a> session with me for a consultation and let’s discuss how we can work together.</p>
          </div>
          <div class="service-book-time__person">
            <div class="service-book-time__person-info">
              <p class="service-book-time__name">Justin Gordon</p>
              <p class="service-book-time__job">CEO</p>
            </div>
            <img class="service-book-time__person-img" src="{{ site.url | prepend: site.baseurl }}/assets/members/justin.jpg" alt="Justin Gordon">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
