---
layout: default
---
<div class="post-page">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <header class="blog-post__header">
          <h1 class="blog-post__title text-center">{{ page.title }}</h1>
          <div class="blog-post__meta">
            <p>
              <span>by </span>
              <span class="blog-post__meta-author">{{ page.author }}</span>
              <span>in </span>
              <span class="blog-post__meta-date">{{ page.date | date: "%b %-d, %Y" }}</span>
            </p>
          </div>
        </header>

        <div class="blog-post__share--header text-center">
          <div class="fb-share-button" data-href="{{ page.url }}" data-title="{{ page.title }}" data-layout="button_count"></div>
        </div>

        <article class="blog-post__content">
          {{ content }}
        </article>

        <div class="blog-post__separator text-center">
          <img width="45" height="36" src="{{ site.url | prepend: site.baseurl }}/assets/shaka-sign.svg" alt="Shaka Sign Separator">
        </div>

      </div>
    </div><!-- end .row -->
  </div><!-- end .container -->
</div><!-- end .post-page -->
